{% extends 'base.html' %}

{% block content2 %}
{% block content %}
    <h1>index 대리에게 도달하셨군요!</h1>
    <h2>{{name}}님 환영합니다!</h2>
    <hr>
    <h2>전체 음식 : {{foods}}</h2>
    <h2>첫번째 : {{foods.0}}</h2>
    <h2>사는 도시 : {{address.city}}</h2>
    <h2>방문자 : {{count}}</h2>
    <h2>뽑기 결과 : {{lotto}}</h2>
    {% for food in foods %}
        <p> {{food}}</p>
    {% endfor %}
    {% if '피자' in foods %}
    <p> {{count}} 번째 손님은</p>
    <h2>당첨 상품 : {{foods}}</h2>
    {% endif %}
{% endblock content %}
{% endblock content2 %}
